<h4 class="ui center aligned icon header">
  <i class="circular teal chat icon"></i>
  Type something
</h4>
<style>
  .mk {
    visibility: hidden;
  }
</style>
  <div class="ui stackable two column grid">
  <!-- May want to use the one below -->
  <!-- <div class="ui grid container"> -->
    <div class="twelve wide column">
      <div class="ui fluid raised card card__height">
        <div class="content">
          <!-- Small feed can be added if needed -->
          <div class="ui feed">
            <% @messages.each do |message| %>
              <div class="event">
                <div class="content">
                  <div class="summary">
                     <em><%= User.find(message.user_id).username %></em>: <%= message.body %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="extra content">
          <%= form_for(@message, html: { class: "ui reply form" }, url: message_path)  do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Type your message here" %>
               <i class="bordered inverted teal edit icon"></i>
              <%= f.button '<i class="bordered inverted teal edit icon mk"></i>'.html_safe %>

              </div>
            </div>

          <% end %>

        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui raised card card__height">
        <div class="content">
          <div class="ui fluid inverted vertical menu">
            <a class="active item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



